
/* Flexbox super important mes a apprendre plus tard */
/* S'entrainer sur frogflex et flexbox.help */
body {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-content: center;
}
.box {
    width: 70%;
}
.header {
   
   text-align: center;  
    
}
img {
   
    background-image: url("../images/vforvendetta.jpg");
    
    height: 400px;

    float: left;

    margin-right: 30px;
    
}



h1 {
    
    text-align: center;
    color: brown;
    font-size: 3em;
    /* J'ajoute une police à mes paragraphes que j'ai précédement installé dans le head de ma page html*/
    font-family: 'Shadows Into Light', cursive;
    
}
/* Changement d'état lorsque je passe ma souris au dessus de mon titre */
/* le titre devient plus foncé et sa taille augmente*/
h1:hover {
    
    
    color: rgb(82, 12, 12);
    font-size: 4em;
    
}


p { 
   
    font-size: 1.4em;
    /* J'ajoute une police à mes paragraphes */
    font-family: 'Open Sans', sans-serif;
}

a { 
    /* J'enlève le surlignement sur mes éléments liens */
    text-decoration: none;
}