
.header {
   
   text-align: center;  
    
}
img {
   
    background-image: url("../images/vforvendetta.jpg");
    
    height: 400px;

    float: left;

    margin-right: 30px;
    
}



h1 {
    /* color: white; */
    text-align: center;
    color: brown;
    font-size: 3em;
    
}




p { 
   
    font-size: 1.4em;
}

a { 
    text-decoration: none!important;
}
b {
    font-family: 'Bebas Neue', cursive;
}