body {
     /*J'ajoute mon image du cinema en fond d'écran  */
     /* je vais chercher mon image donc je sors de mon dossier css puis je rentre dans le dossier images et je récupère mon image cinema.jpeg */
    background-image: url("../images/cinema.jpeg"); 


    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-content: center;




}
.box {
    display: flex;
	flex-direction: column;
	
	justify-content: center;
    align-items: center;
}
.header {
    width: 30%;
    height: 3em;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: beige;
}
.image {
    width: 30%;
    background-image: url("../images/vforvendetta.jpg");
    border: 3px solid black;
    height: 400px;

    
}

.description {
    width: 30%;
    background-color: beige;
    border: 3px solid black;
   
}



h1 {
    
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

a {
    text-decoration: none;
    color: black;
}
p {
    /* J'ajoute une police d'écriture à mes paragraphes  */
  font-family: 'Open Sans', sans-serif;
}





